{% extends "header.html" %}
{% block content %}

    <div class="main">
        <div class="content">
            <form action="/login" method="post">
                <div class="container">
                    <b>
                        <center>Comanda a fost realizata cu succes. Va multumim!</center>
                    </b>
                </div>
                <div class="container signin">
                    <a href="/">Reveniti la pagina principala</a>
                </div>
            </form>
        </div>
    </div>
    </div>
    </body>

{% endblock %}