{% extends "header.html" %}
{% block content %}

    <div class="main">
        <div class="owl-carousel owl-theme slideshow-container" style="width: 1250px">
            <div class="item">
                <img src="/static/1.jfif" style="width:100%; height:800px">
            </div>
            <div class="item">
                <img src="/static/2.jfif" style="width:100%; height:800px">
            </div>
            <div class="item">
                <img src="/static/3.jfif" style="width:100%; height:800px">
            </div>
            <div class="item">
                <img src="/static/4.jfif" style="width:100%; height:800px">
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            console.log("ready!");
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                items: 1,
                autoplay: true
            })
        });
    </script>
    </body>
{% endblock %}

