{% extends "header.html" %}
{% block content %}

    <div class="main">
        <div class="content">
            <form action="/register" method="post">
                <div class="container">
                    <h1>Inregistrare</h1>
                    <b>
                        <center>Contul dumneavoastra a fost creat cu succes.</center>
                    </b>
                </div>
            </form>
        </div>
        <div class="container signin">
            <a href="/">Inapoi catre pagina principala.</a>
            <a href="/login">Mergi catre pagina de conectare.</a>
        </div>
    </div>
    </div>
    </body>
{% endblock %}